<IfModule mod_rewrite.c>
    RewriteEngine On
    # Ако приложението е в подпапка, задай RewriteBase, напр. RewriteBase /work/public/
    # RewriteBase /

    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    RewriteRule ^ index.php [L]
</IfModule>
